
**/[bB]in/
**/[oO]bj/

/Src/**/bin/
/Src/**/obj/
/Src/**/[dD]ebug*/
/Src/**/Release*/
/Src/build*/

/Tools/**/bin/
/Tools/**/build*/
/Tools/**/obj/
/Tools/**/[dD]ebug*/
/Tools/**/Release*/

/Samples/**/bin/
/Samples/**/[oO]bj/
/Samples/**/dist*/
!/Samples/**/distri*/

/Integration/**/bin/
/Integration/**/obj/
/Integration/**/Release*/
/Integration/**/[dD]ebug*/
/Integration/build*/

/NCMonitor/**/bin/
/NCMonitor/**/obj/
/NCMonitor/**/Release*/
/NCMonitor/**/[dD]ebug*/
/NCMonitor/build*/

/Activation/**/bin/
/Activation/**/build/

/Activation/**/Release*/
/Activation/**/[dD]ebug*/
/Activation/**/obj/

!/Activation_32_64/StubDll/res/

/Activation_32_64/**/bin/
/Activation_32_64/**/build/
/Activation_32_64/**/Release*/
/Activation_32_64/**/[dD]ebug*/
/Activation_32_64/**/obj/

/Activation_32/**/bin/
/Activation_32/**/build/
/Activation_32/**/Release*/
/Activation_32/**/[dD]ebug*/
/Activation_32/**/obj/

/Activation .NetCore/**/bin/
/Activation .NetCore/**/build/
/Activation .NetCore/**/Release*/
/Activation .NetCore/**/[dD]ebug*/
/Activation .NetCore/**/obj/

/Src/NCLicense/**/*.log
/Src/NCLicense/**/*.tlog
/Src/NCLicense/**/*.pch
/Src/NCLicense/**/*.pdb
/Src/NCLicense/**/*.manifest
/Src/NCLicense/**/*.idb
/Src/NCLicense/**/*.lastbuildstate
/Src/NCLicense/**/*.obj
/Src/NCLicense/**/*.res
/Src/NCLicense/**/*.XML
/Src/NCLicense/**/*.exp
/Src/NCLicense/**/*.dll

Activation/TestStubDll/Release
/Src/Debuging_Symbols/
/Dotfuscated/**/output/
/Src/build-prof/

Thumbs.db
*.sdf
*.dll
*.exe
*.suo
*.user
*.opensdf
*.opendb
*.filters
*.ipch
*.pdb
*.db
*.rej
*.log
*.ide
*.pubxml
*.nupkg
*.tmp
*.vspscc
*.scc
**/.vs/**
**/packages/**

!/Src/NCManager/DLLS/**
!/Resources/**
!/Tar.Gz/**
!/AI Setup/**
!/Window2012Signing/**
!/NuGet/**
!/Samples/dotnetcore/ResponseCaching/ResponseCaching/wwwroot/lib/bootstrap/dist

/Nuget/**/*.dll
/NuGet/*.nupkg
/NuGet/**/lib/**

src/packages/**

AI Setup/NCache Setup/NCache Data/Permissions
AI Setup/NCache Setup/NCache Data/Clean/GAC Cleaner/GAC Cleaner/bin/Release
Integration/EFNCacheProvider - Core/TestApps/objForNetCore/
AI Setup/NCache Setup/NCache Data/OnlineHelp/Getting-Started/images/Thumbs.db
NCacheWebPortal/Publish/
NCacheWebPortal/Publish-linux-x64/
NCacheWebPortal/NCacheWebManager/wwwroot/**/*.json
NCacheWebPortal_4.0/NCacheWebManager/Properties/launchSettings.json
NCacheWebPortal/NCacheWebManager/libs/Alachisoft.NCMonitor.Web.deps.json
NCacheWebPortal/NCacheWebManager/Properties/launchSettings.json
UNIX Setup/opensource_server_netcore/*
UNIX Setup/opensource_server_structure/*
