<#@ template inherits="Microsoft.VisualStudio.TextTemplating.VSHost.ModelingTextTransformation" language="C#" debug="true" hostSpecific="true" #>
<#@ assembly name="Microsoft.VisualStudio.TextTemplating.Modeling.11.0.dll" #>
<#@ output extension=".cs" #>

<#@ Assembly Name="System.Core.dll" #>
<#@ Assembly Name="System.Windows.Forms.dll" #>

<#@ import namespace="System" #>
<#@ import namespace="System.Collections" #>
<#@ import namespace="System.Collections.Generic" #> 

<#@ include file="Settings.ttinclude" #>
<#@ include file="Util.ttinclude" #>
<#@ include file="ZeroTuple.ttinclude" #>
<#@ include file="NormalTuple.ttinclude" #>

using System.Text;
using System.Collections;
using System.Collections.Generic;
#pragma warning disable
<#
if(addDataContract) 
{
#>
using System.Runtime.Serialization;
<#
} 
#>

namespace System
{
#region ZeroTuple

<#
	GenerateZeroTuple(maxTupleLength);
#>

#endregion

#region Tuples

<#
	for(int i = 0; i < maxTupleLength; ++i)
		GenerateTuple(i + 1);
#>

#endregion
}
#pragma warning enable