<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!-- Application level settings to be defined here -->
    <!--
      Specify the port at which Cache Server will listen for the incoming connection requests
    -->
    <add key="NCacheServer.Port" value="9800" />
    
    <!--
      Specify the port at which Cache Management Server will listen for the incoming connection requests
    -->
    <add key="NCacheServer.ManagementPort" value="8250" />
    
    <!--
      Specify send buffer size of the connected client socket, in bytes.
    -->
    <add key="NCacheServer.SendBufferSize" value="131072" />
    
    <!--
      Specify whether this service will log license information for the clients.
    -->
    <add key="NCacheServer.LicenseLogging" value="false" />
    
    <!--
      Specify receive buffer size of the connected client socket, in bytes.
    -->
    <add key="NCacheServer.ReceiveBufferSize" value="131072" />

    <!--
      When your machine has more than one network cards, you can inform NCache
      which interface to use for cluster-wide communication. In order to do so, 
      provide the Ip Address you want the cluster server to bind with.
    -->
    <add key="NCacheServer.BindToIP" value="" />

    <!--
      When your machine has more than one network cards, you can inform NCache
      which interface to use for client communication. In order to do so, please 
      provide the Ip Address you want the client's (NCache client) server to bind with.
    -->
    <add key="NCacheServer.BindToClientServerIP" value="" />
    
    <!--
      All the nodes in NCache cluster can establish two connections with each node. 
      This can increase the TCP throughput and thus improve the overall performance.
      By default single connection is established. To enable the use of dual connections,
      un comment the following.
    -->
    <!--
    <add key="NCacheServer.EnableDualSocket" value="true"/>
    -->
    
    <!--
      To improve the cluster performance NCache takes benefit from Nagling. 
      It means that NCache tries to avoid the network trip for each single message 
      and instead combines multiple messages together (if waiting for the socket IO) 
      to be sent as single network operation. 
      To disable Nagling, uncomment the following.
    -->
    <!--<add key="NCacheServer.EnableNagling" value="false"/>-->
    
    <!--
      Nagling bundles all the available messages waiting for the socket IO whose combined size 
      is less than the given Nagling size. The default Nagling size is 500 Kb. It can be modified
      according to the needs.
    -->
    <add key="NCacheServer.NaglingSize" value="500" />
    
    <!--
      <add key="NCacheServer.CacheUser" value="domain\userId"/>
      <add key="NCacheServer.CachePassword" value="password"/>
    -->
    
    <!--
      Request Inquiry logs all the client requests on the server side. This is used to ensure 
      fault tolerant and reliable communication between client and the cluster. In case of connection
      breakup, a client can inquire the cluster for the status of its failed request.
    -->
    <add key="NCacheServer.EnableRequestInquiry" value="True" />
    
    <!--
      The cleanup interval in seconds for the logged requests if request inquiry is enabled. The requests 
      that reside on the log longer than this time are cleared without any regard to their state.
    -->
    <add key="NCacheServer.RequestInquiryCleanInterval" value="15" />
    
    <!--
      Some performance counters are disabled by default but they can be really helpful to see the NCache behavior
      over the network. 
      
      These counters include: -
      1. socket send time (time taken for the last send operation)
      2. socket receive time (time taken for the last receive operation)
      3. bytes sent / second 
      4. bytes received / second
      5. nagling message count (number of messages bundled together in the last socket send operation)
      
      These counters help find the source of the problem in case we see the cluster is not performing as expected.
      To enable these counters, uncomment the following.
    -->
    <!--<add key="NCacheServer.EnableDebuggingCounters" value="true"/>-->
    
    <!--
      NCache publishes its important statistics over WMI service. NCMonitor is a tool for the cluster monitoring 
      that takes advantage of these published statistics. You can control how frequently NCache should update these
      WMI statistics by changing the NCacheServer.WmiStatsUpdateInterval value given below. More frequent updates can cause
      NCache performance degradation.
    -->
    <add key="NCacheServer.WMIStatsUpdateInterval" value="5" />
    
    <!--
      Expired items are removed in bulk. Specify the size of the bulk operation i.e. how many items should
      be removed in one bulk operation.
    -->
    <add key="NCacheServer.ExpirationBulkRemoveSize" value="50" />
    
    <!--
      Expired items are removed in bulk. This may affect the performance of user operations during expirations. This
      delay specified (in seconds) causes a delay between two consecutive bulk remove operations.
    -->
    <add key="NCacheServer.ExpirationBulkRemoveDelay" value="1" />
    
    <!--
      During eviction items are removed in bulk. Specify the size of the bulk operation i.e. how many items should
      be removed in one bulk operation. EvictionBulkRemoveSize should be specified in multiple of 300
    -->
    <add key="NCacheServer.EvictionBulkRemoveSize" value="900" />
    
    <!--
      During eviction items are removed in bulk. This may affect the performance of user operations during expirations. This
      delay specified (in seconds) causes a delay between two consecutive bulk remove operations. 
    -->
    <add key="NCacheServer.EvictionBulkRemoveDelay" value="1" />
    
    <!--
      By default SQLDependency creates a new Service whenever it starts but you can also use the existing SQL Service.
      In that case NCache will connect with pre-created service with following naming convention
      "NCacheSQLService-[ip-address]". If you want to change the sql service name prefix you can specify that against NCacheServer.NCacheSQLNotificationService key
    -->
    <add key="NCacheServer.NCacheSQLNotificationService" value="NCacheSQLService" />
    
    <!--
      In case if any send operation takes long time on socket creating a deadlock, this socket can be reset using bad client detection property with a combination of client socket send time out property.
      Default value id false, the behavior is turned off.
    -->
    <add key="NCacheServer.EnableBadClientDetection" value="false" />
    
    <!--
      ClientSocketSendTimeOut is the interval after which socket is reset in case of deadlock.
      Default value is 10 sec. ClientSocketSendTimeOut cannot be less than one.
    -->
    <add key="NCacheServer.ClientSocketSendTimeOut" value="10" />
    
    <!--
      On the server side a priority queue is used between events and cache operations. The following property defines the event ratio.
      Default value is 30. EventPriorityRatio cannot be less than 1.
    -->
    <add key="NCacheServer.EventPriorityRatio" value="30" />
    
    <!--
      Server now sends bulk events to client, but the bulk size is configurable. This is only available is client version 4124 or above.
      Default value is 50, EventBulkCount cannot be less than 1.
    -->
    <add key="NCacheServer.EventBulkCount" value="50" />
    
    <!--
      Defines the interval for bulk event collection. Default value is 2 seconds. BulkEventCollectionInterval cannot be less than 1.
    -->
    <add key="NCacheServer.BulkEventCollectionInterval" value="2" />
    
    <!--
      By default SQLDependency creates a new Queue whenever it starts but you can also use the existing SQL Queue.
      In that case NCache will connect with pre-created queue with following naming convention
      "NCacheSQLQueue-[ip-address]". If you want to change the sql queue name prefix you can specify that against NCacheServer.NCacheSQLNotificationQueue key
    -->
    <add key="NCacheServer.NCacheSQLNotificationQueue" value="NCacheSQLQueue" />
    
    <!--
      NCacheServer.ResponseDataSize indicates the size of a response for a given request.
      If the response size is larger than the given limit then it will be divided into smaller
      chunks and data will be sent back to the client in multiple responses for the same request.
      This will improve the performance because the larger the response size is the longer it
      will take time to serialize the response. However, these multiple responses will be merged
      by NCache Client as a single response.   
      Here it takes value in MB’s. Default size is 1024MB.
      NOTE: .NET serialization fails to serialize if the response size is larger than 1.9 GB.
    -->
    <add key="NCacheServer.ResponseDataSize" value="1024" />
    
    <!--
      NCacheServer.SnapshotPoolingCacheSize can be used to specify the size of the cache (in terms of number of items) for enabling enumeration snapshot pooling. 
      It will help in deciding when to create a pool of snapshots for enumeration purpose. when a new enumerator is taken on cache we provide it with a 
      snapshot of cache, every time a new enumerator is taken on cache but when this threshold size is crossed we will create a pool of snapshots that will hold
      snapshots based on time slicing and snapshots will be provided from the pool when an enumerator needs one. 
      Default Size is 100000 items in cache
    -->
    <add key="NCacheServer.EnableSnapshotPoolingCacheSize" value="100000" />
    
    <!--
      NCacheServer.SnapshotPoolSize can be used to specify the number of snapshots allowed in the pool for enumeration. when the maximum size is reached 
      we won’t allow another snapshot to be added to the pool till another existing snapshot in the pool has been removed from it.     
      Default Size is 10 snapshots in cache snapshot pool.
    -->
    <add key="NCacheServer.SnapshotPoolSize" value="10" />
    
    <!--
      NCacheServer.SnapshotCreationThreshold can be used to specify after how many seconds a new snapshot will be added to pool for enumeration purpose.
      Same cache snapshot from the pool is provided to all enumerators on cache until the threshold time is elapsed. Any enumerator that requests 
      a snapshot after that will get a new snapshot from the pool.
      Default size is 30 seconds.
    -->
    <add key="NCacheServer.SnapshotCreationThreshold" value="30" />
    
    <!--
      NCacheServer.EnumeratorChunkSize can be used to specify the chunk size as in number of items returned to enumerator from cache server. Once the enumerator is done enumerating through a chunk of data it gets the next chunk from the cache for that 
      particular enumerator and continues enumerating.
      Default size is 1000 items returned in each chunk.
    -->
    <add key="NCacheServer.EnumeratorChunkSize" value="1000" />

    <!--
      When NCache is deployed in a cloud environment(Azure) then you have to specify the public socket address
      of your node for cluster-wide communication so that any client node across the virual network can 
      communicate for management operations.
      Specify full public socket address as IPAddress:Port.
	  -->
    <add key="NCacheServer.MgmtEndPoint" value="" />

    <!--
      When NCache is deployed in a cloud environment(Azure) then you have to specify the public socket address
      of your node for client communication so that any client node across the virual network can communicate 
      for client operations.
      Specify full public socket address as IPAddress:Port.
	  -->
    <add key="NCacheServer.ServerEndPoint" value="" />
    
    <!--
      When a cache is started in its own separate process it is assigned a Management Port (Two incase of Partitioned of Replica topology). 
      This port is assigned from a range of ports which can be configured by setting the below keys. ManagementPortLower is the starting port 
      from which the first free port available will be consumed. The ManagementPortUpper is the upper limit.
	  -->
    <add key="NCacheServer.ManagementPortLower" value="8300" />
    <add key="NCacheServer.ManagementPortUpper" value="8400" />
    
    <!--
      Data regarding distributed collections cannot be transferred over connections for operations where all of data from the collection is 
      requested. The reason is that collections may contain large size of data that may cause a timeout if it takes too much time during the 
      transfer and thus data for collections is transferred in chunks. The value of 'CollectionChunkSize' determines the size in bytes for 
      one chunk being transferred over a certain connection.
    -->
    <add key="NCacheServer.CollectionChunkSize" value="81920" />
    
  </appSettings>
  <runtime>
    <gcServer enabled="true" />
    <gcConcurrent enabled="false" />
  </runtime>
</configuration>
