<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="CacheName" value="mycache"/>
    <add key="TextProtocolIP" value="127.0.0.1"/>
    <add key="TextProtocolPort" value="11212"/>
    <add key="BinaryProtocolIP" value="127.0.0.1"/>
    <add key="BinaryProtocolPort" value="11213"/>
    <!--Maximum command length in KBs-->
    <add key="MaxCommandLength" value="200"/>
  </appSettings>
</configuration>
